@import '../../../css/quasar.variables.styl';

.fondo_inicio {
	background-image: url('https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png');
}

.img-snosotros {
	width: 45vw !important;
	margin-left: 10%;
	border-radius: 50px;
}

.p-snosotros {
	padding: 0px 9vw;
	font-size: 1.3vw;
	text-align: justify;
}

@media only screen and (max-width: 767px) {
	.img-snosotros {
		width: 90vw !important;
		border-radius: 25px;
		margin: 5%;
	}

	.titulo-snosotros {
		margin-top: 5%;
		font-size: 2.8em;
		font-family: 'comfortaa_b';
	}

	.div_fondo_snosotros {
		width: 100vw;
	}

	.p-snosotros {
		padding: 0px 9vw;
		font-size: 4vw;
		text-align: justify;
	}
}
