@import '../../../css/quasar.variables.styl';

.img-unique {
    max-width: 600px;
    border-radius: 25px;
}

.todo {
    width: 100%;
}
.back_home
    background: $secondary;

.tabla
    background: $primary !important;
    color: $accent !important;

.btn_add
    position:absolute;
    top:4px;
    right:14px;

th
   color: $accent;
   font-size: 16px !important;
   font-family: comfortaa_b;

td
   color: $text;
   font-size: 14px !important;
   font-family: comfortaa_l

.b_activo
    color: $text;
    font-size: 14px !important;
    font-family: comfortaa_l

.b_eliminar
    color: $text;
    font-size: 16px !important;
    font-family: comfortaa_l

.b_link
    color: $accent;
    font-size: 14px !important;
    font-family: comfortaa_l
.titulo_crear
    color: $accent !important;
    font-family: comfortaa_b;



.m-accion
    color: $text !important;

.q-table__title
    font-size: 23px;
    letter-spacing: 0.005em;
    font-weight: 400;
    padding-left: 10px;
    font-family: comfortaa_b;


.modales
    background: $secondary !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

.cancelar
    margin-right: 20px;
    color: $text;

.n_eliminar
    color: $accent;
    font-size: 16px !important;
    font-family: comfortaa_b;


.texto_check
    padding-top: 0px;
    color: $text;
