@import '../../../css/quasar.variables.styl';

.fondo_inicio {
	background-image: url('https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png');
}

.contenedor_contacto_iz {
	height: 100% !important;
	border-radius: 25px;
}

.bloq_cont_iz {
	-webkit-backdrop-filter: blur(8px) !important;
	backdrop-filter: blur(15px) !important;
	background: #000000cc;
}

.bloq_cont_der {
	-webkit-backdrop-filter: blur(8px) !important;
	backdrop-filter: blur(15px) !important;
	background: #000000cc;
	padding: 48px 48px;
}

.contenedor_cont_todo {
	backdrop-filter: blur(15px) !important;
	background: #000000cc;
	background-image: url('/statics/peakpx.jpg');
	position: absolute;
	background-size: cover !important;
	background-position: inherit !important;
	height: 100vh;
	width: 100%;
}

.bloq_cont_der .q-table__card {
	box-shadow: none;
}

.tabla_contacto {
	background: #1d1d1d00;
	font-size: 20px;
}

.tabla_contacto .q-table__middle .q-table thead tr th {
	background: #1d1d1d00 !important;
	font-size: 1.1em !important;
	padding: 3% 0;
}

.tabla_contacto .q-table__middle .q-table tbody tr td {
	background: #1d1d1d00 !important;
	font-size: 1em !important;
	padding: 1% 0 !important;
}

.titulo_contacto {
	color: #fff;
	font-size: 2.5em;
	font-family: comfortaa_l;
	padding: 0px 5% 0 0;
}

.buscanos {
	color: #fff;
	font-size: 2.5em;
	font-family: comfortaa_l;
	padding: 0px 0 2% 0;
}

.borroso {
	-webkit-backdrop-filter: blur(8px) !important;
	backdrop-filter: blur(15px) !important;
	background: #000000cc;
}

@media only screen and (max-width: 767px) {
	.tabla_contacto {
		background: #1d1d1d00;
		font-size: 0.8em;
	}

	.tabla_contacto .q-table__middle .q-table thead tr th {
		background: #1d1d1d00 !important;
		font-size: 1.1em !important;
		padding: 3% 0;
	}

	.tabla_contacto .q-table__middle .q-table tbody tr td {
		background: #1d1d1d00 !important;
		font-size: 1em !important;
		padding: 1% 0 !important;
	}

	.titulo_contacto {
		color: #fff;
		font-size: 2.5em;
		font-family: comfortaa_l;
		padding: 0px 5% 0 0;
	}

	.bloq_cont_der {
		padding: 10px 10px;
	}

	.buscanos {
		color: #fff;
		font-size: 1.8em;
		font-family: comfortaa_l;
		padding: 0px 0 2% 0;
	}

	.bandera-mobile-iz {
		margin-left: 6vw;
	}
}
