
.bloq_der_for {
	backdrop-filter: blur(60px) !important;
	background: rgba(16, 16, 16, 0.478);
	border-radius: 25px 25px;
	padding: 2vh;
	margin: 8vh;
}

.cont-forget {
	justify-content: center;
	height: 100vh !important;
	backdrop-filter: blur(8px) !important;
	background: #00000045;
}

.input-forget {
	padding-left: 30px !important;
	padding-right: 30px !important;
	padding-bottom: 30px !important;
	font-size: 1em;
}

@media only screen and (max-width: 767px) {
	.bloq_der_for {
		backdrop-filter: blur(60px) !important;
		background: rgba(16, 16, 16, 0.478);
		border-radius: 25px 25px;
		padding: 0vh;
		margin: 0vh;
		width: 100vw !important;
	}

	.cont-forget {
		justify-content: center;
		width: 100vw !important;
		backdrop-filter: blur(8px) !important;
		background: #00000045;
		padding: 0vh !important;
	}

	.input-forget {
		padding-left: 0px !important;
		padding-right: 0px !important;
		padding-bottom: 20px !important;
		font-size: 1.5em;
		margin-left: 0px;
	}

	.section-forget {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}
