@import '../../css/quasar.variables.styl';

.espacio-comment_first 
    padding: 3px 0px 0px 0px;
    font-size: 1rem;
    border-radius: 25px;
    padding: 1% 2% 2% 1%;
    background-color: #20222a;
    color: #fff;
    border-radius: 20px 20px 20px 20px;
    

.comment-home
    padding: 1% 0% 1% 0% !important;
    background-color: $primary;
    border-radius: 25px !important;

.text-head_post
    background: $primary !important;
    padding: 0 !important;
    line-height: 1.2;
    word-break: break-word;
    position: relative;
    font-size: 17px;

.avatar_head .q-message-container .q-message-avatar
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;


.text-head_post .q-message-text-content .q-message-stamp
    padding-top: 1%;
    color: #858585 !important;

.desc_post .q-message-container .q-message-avatar
    margin-top: 2%;
    margin-right: 4px !important;
    border-radius: 50%;
    width: 35px;
    height: 40px;
    min-width: 40px;
    