@import '../../css/quasar.variables.styl';

.img-unique {
    max-width: 600px;
    border-radius: 25px;
}

.todo {
    width: 100%;
}

// .espacios {
//     padding-bottom: 50px;
// }

.espacio-izquierdo {
    padding-left: 10px;
    color: $text;
}
.color_text
    color: $text;

.q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.00937em;
    text-decoration: inherit;
    text-transform: inherit;
    border: none;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.87);
    outline: 0;
    padding: 6px 0;
}

.tamano_viewer
    width: 100% !important;
    max-width: 80% !important;
    height: 713px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 0px 0px !important;
    @media screen and (max-width: 1440px) {
        height: 563px !important;
    }

.espacio_post {
    padding: 5px 10px 10px 0px;
}

.espacio-comment {
    padding: 3px 0px 0px 0px;
    font-size: 1rem;
    border-radius: 25px;
    // padding: 2% 2% 0% 2%;
    background-color: $primary
    border-radius: 20px 20px 0px 20px

}
.espacio-comment-active {
    padding: 3px 0px 0px 0px;
    font-size: 1rem;
    border-radius: 25px;
    // padding: 2% 2% 0% 2%;
    background-color: $accent
    color: $primary
    border-radius: 20px 20px 0px 20px

}
.espacio-comment_first {
    padding: 3px 0px 0px 0px;
    font-size: 1rem;
    border-radius: 25px;
    padding: 2%;
    background-color: $primary;
    color: $text;
    border-radius: 20px 20px 20px 20px

}
.espacio-respcomment {
    margin: 1% 0% 0% 11%;
    // padding: 0% 2% 1% 2%;
    background-color: $primary
    border-radius: 0 0 0 0;
    
}


.espacio-action-comment{
    padding: 0% 1% 0% 0%;
    background-color: $primary;
    border-radius: 25px;
    width: 100%;
    color: $text;
}
// .espacio-action-comment-active{
//     padding: 1% 1% 1% 2% !important;
//     color: $text !important;
//     background-color: $accent !important;
//     border-radius: 25px !important;
//     width: 100% !important;
// }
// .espacio-action-respcomment{
//     background-color: $primary;
//     width: 100%;
//     padding-right: 1%;
//     color: $text;
// }
// .espacio-action-respcomment-active{
//     background-color: $accent !important;
//     width: 100% !important;
//     color: $text !important;
//     padding-right: 1%;
// }
// .espacio-respcomment_ul {
//     margin: 1% 0% 0% 8%;
//     padding: 0%;
//     color: $text !important;
//     background-color: $primary;
//     border-radius: 0 0 20px 20px;
    
// }
.post-text {
    width: 150px;
    font-size: 1rem
    text-overflow: ellipsis;
    padding: 5% 7% 5% 7%;
    white-space: nowrap;
}

.comment-text {
    padding: 2% 0% 2% 0%;
}

.centrar-comment {
    padding-top: 2%;
    padding-left: 3%;
}

.card-home {
    width: 100%;
    max-width: 700px;
    background-color: $primary;
    padding: 0% 1% 0% 1%;
    box-shadow: none !important;
    border-radius: 5%;
    @media screen and (max-width: 1440px) {
        max-width: 600px;
    }
    @media screen and (max-width: 1350px) {
        max-width: 500px;
    }
}
.alto-carousel
    height: 500px;
    border-radius: 20px;
    @media screen and (max-width: 1440px) {
        height: 400px;
    }
    @media screen and (max-width: 1350px) {
        height: 350x;
    }

.text-gris {
    color: #424242 !important;
}

.like div div i {
    padding-right: 20px !important;
}

.like div div i :hover {
    color: #ff8b83 !important;
}

.like:hover {
    color: $primary !important;
}

.share div div i {
    padding-right: 0px !important;
    color: #9c9c9c !important;
}

.share div {
    padding-right: 0px !important;
    color: #9c9c9c !important;
}

.ava_com {
    padding-right: 15px !important;
}

.addBlur.q-layout > *:not(.q-dialog) {
    filter: blur(5px);
}

.modal-open .q-layout--standard, .modal-open .q-layout {
    -webkit-filter: blur(6px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(5px);
}

.q-dialog__backdrop {
    z-index: -1;
    pointer-events: all;
    background: rgba(174, 174, 174, 0.27);
}

.nuevo_post {
    border-radius: 25px;
    padding: 2%;
}

.card-post {
    border-radius: 25px;
    width: 100%;
    /* max-width: 500px; */
    padding-top: 1%;
    background-color: $primary;
    box-shadow: none !important;
    color: #4c4c4c !important;
}

.q-dialog__inner > div {
    pointer-events: all;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    border-radius: 4px;
    box-shadow: 0 2px 0px -1px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0.14), 0 1px 0px rgba(0, 0, 0, 0.12);
}

.input-file {
    background-color: #5bf6bd;
    border-radius: 25px;
    width: 80%;
    color: white !important;
}

.input-file div div {
    padding-top: 3%;
}

.prelike {
    -webkit-transition: -webkit-transform 0.1s ease-in-out 0s;
    transition: transform 0.5s ease-in-out 0s;
}

.prelike:hover {
    -webkit-transform: rotate(360deg);
    transform: scale3d(1, 1, 1);
}

.prelike:hover div div i {
    color: #ff0076 !important;
}

@keyframes latidos {
    from {
        transform: none;
    }

    10% {
        transform: scale(2);
    }

    to {
        transform: none;
    }
}
.other_post 
    margin-left: 5px;
    border-radius: 0px 0px 0px 33px;
/* En la clase corazon vamos a llamar latidos en la animación */
.like_si {
    color: red;
    animation: 0.5s latidos 0.5s 2;
}

.like_si div div i {
    color: #ff0076 !important;
}

.like_no {
    color: #7f7f7f;
}

.like_no div div i {
    color: #7f7f7f !important;
}

.dot {
    padding: 10%;
    height: 70px;
    width: 70px;
    background-color: $accent;
    border-radius: 50%;
    display: inline-block;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* not necessary, just to visualize it */
.parent {
    height: 100%;
    padding-top: 4%;
    padding-right: 3%;
    background-color: $primary !important;
    0px 25px 25px 0px;
}
.photo
    background-color: $primary !important;
    border-radius: 28px 0px 0px 0px;

.more_post
    background-color: $primary; 
    border-radius: 0px 0px 0px 28px ;
    margin: 0px 4px 0px 4px;

.image_view {
    border-radius: 25px;
    height: 600px;

    @media screen and (max-width: 1440px) {
        height: 450px;
    }
}

.viewer_card {
    height: 600px;

    @media screen and (max-width: 1440px) {
        height: 450px;
    }
}

.comment_view {
    padding: 1% !important;
    overflow: auto;
    max-height: 440px;
    background-color: $secondary !important;
    @media screen and (max-width: 1440px) {
        max-height: 310px;
    }
}
.comment-home
    padding: 1% 1% 1% 1% !important;
    background-color: $primary;
    border-radius: 25px !important;

.other_view {
    border-radius: 25px;
    height: 100px;

    @media screen and (max-width: 1440px) {
        height: 100px;
    }
}
// .color-comments
//     background-color: $secondary;
//     color: $text;
//     padding: 1% 1% 1% 2%;
//     border-radius: 25px;

// .color-comments:hover
//     background-color: $secondary;
//     padding: 2%;
//     border-radius: 25px;

.card_other_view {
    max-width: 180px;
    max-height: 100px;
    padding: 0% 3% 0% 0%;

    @media screen and (max-width: 1440px) {
        max-width: 180px;
    }
}
.card_tamano
    width: 180px;

.horizontal-scroll-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-80px);
    transform-origin: right top;
}

.horizontal-scroll-wrapper > div {

    transform: rotate(90deg);
    transform-origin: right top;
}
.border-rig div
    border-bottom-right-radius: 32px;

// .scroll div div div
//     background-color: $primary;
// .q-avatar:hover
//     border-radius: 30%;
    // width: 50px;
    // height: 50px;
    // positi
.carousel-frame {
    width: 100%;
    padding-top: 1%;
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
}

.carousel-frame ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.carousel-frame li.carousel-item {
    cursor: pointer;
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;

}

.scrolling {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
    border-radius: 0px 0px 0px 28px;
}

.scrolling ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.scrolling li.scrolling-item {
    cursor: pointer;
    display: inline-block;
    margin: 0 4px 0 0;
    padding: 0;

}

// .scrolling {
//     width: 100%;
//     padding-top: 1%;
//     position: relative;
//     overflow-x: hidden;
//     white-space: nowrap;
//     height: 120px;
// }
.actions_card
    padding: 5px 0 0 0 !important;
    color: $text;
.area_comment
    width: 100%;
    color: $text;
// .scrolling ul {
//     margin: 0;
//     padding: 0;
//     height: 100%;
//     list-style: none;
// }

// .scrolling li.scrolling-item {
//     cursor: pointer;
//     display: inline-block;
//     margin: 0 20px 0 0;
//     padding: 0;

// }
.card-color
    background-color: $primary;