@import '../../css/quasar.variables.styl';

.card-color
    background-color: $primary;


.add_comm
    bottom: 0 !important;
    position: fixed;
    width: 100%;
    padding: 0 !important;


.back
    top: 0 !important;
    position: absolute;
    width: 100%;
    padding: 0 !important;
    z-index :100000000 !important;


.close_viewer .q-btn__wrapper .q-btn__content .q-icon
    background: $primary;
    border-radius: 50%;
    color: $text


.close_viewer .q-btn__wrapper .q-btn__content
    font-size: 18px