@import '../../css/quasar.variables.styl';

.name_list
    font-size: 16px;
    color: $text;;

.divition
    border-bottom: 1px solid #5e5e5e;
    margin-left: 15px;

.divition_hour
    border-bottom: 1px solid #5e5e5e;