@import '../../css/quasar.variables.styl';

.separation
    border-top: 1px solid $secondary;

.add_message
    bottom: 0;
    width: 100%;
    
.input_message
    padding-left: 10%;
    border-radius: 20px
    min-width: 70%;
    
.input_message-mb
    border-radius: 20px
    min-width: 100%;
    
.btn_message
    width: 90%; 
    height 35px;
    
.centrar
    padding-top: 2px;
    padding-left: 5px;
    align-self: flex-end;
    
.in 
    color:$text;    

.in .q-field--lebeled
    border: none;

::placeholder {
    color: $text;    
}
.tamano_min_av
    min-width: 12% !important;
    
.tamano_min_in
    min-width: 70%;

.in .q-field__inner .q-field__control
    padding: 0 12px;
    border-radius: 20px;
    color: $text;
// .in .q-field__inner .q-field__control .q-field__control-container input 
//     height 35px;

.in .q-field__control:before 
    border: none;

.q-field--focused
    .q-field__control
    &:before
        opacity: 1
        background: rgba(0,0,0,.12)
    &:after
        transform: scale3d(1, 1, 1)

.input_comment.q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input
    background-color: $secondary 
    border-radius: 20px
    
.centrar button 
    font-size: 17px !important; 


.q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.00937em;
    text-decoration: inherit;
    text-transform: inherit;
    border: none;
    border-radius: 0;
    color: $text;
    outline: 0;
    padding: 6px 0;
}

.add_me .q-field__inner .q-field--outlined .q-field__control {
    padding: 0 10px !important; 
}

#preview 
    justify-content: flex-end;
    background: $primary;
    padding: 0 2px; 
    margin-bottom: 8px;
    border-radius: 20px;
    overflow: auto;
    white-space: nowrap;

.cont-img img 
    // max-width: 100%;
    border-radius: 20px;
    max-height: 100px;

.cont-img
    border-radius: 20px;
    display: inline-block;

.contenedor-add
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #5e5e5e;

.q-tabs__arrow 
    background: $primary;
    opacity: 0.6;
    border-radius: 20px;


.delete_item
    right: 39px;
    top: -78px;
    border-radius: 50%;
    box-shadow: 0 0px 0px rgba(0,0,0,0.2), 0 0px 0px rgba(0,0,0,0.14), 0 0px 0px rgba(0,0,0,0.12); 
    // background-color: transparent;
    color: transparent;
.delete_item:hover .q-icon, .delete_item .q-spinner {
    // font-size: 1.85em;
    background: $secondary;
    border-radius: 50%;
    color: $text;
    opacity: 1;
    box-shadow: 0 0px 0px rgba(0,0,0,0.2), 0 0px 0px rgba(0,0,0,0.14), 0 0px 0px rgba(0,0,0,0.12);
}
.contenedor-img
    white-space: nowrap;
    overflow-x: auto;
    background: $primary;
    padding-top: 1%;
    border-radius: 20px;
    margin-bottom: 8px;
    padding-left: 1%;

// .delete_item .q-icon:hover, .delete_item .q-spinner {
//     font-size: 1.85em;
//     background: $secondary;
//     border-radius: 50%;
//     color: $text;
//     opacity: 0;
// }

.cont-img img:hover ~ .delete_item .q-icon, .delete_item .q-spinner {
    // font-size: 1.85em;
    background: $secondary;
    border-radius: 50%;
    color: $text;
    opacity: 1;
    box-shadow: 0 0px 0px rgba(0,0,0,0.2), 0 0px 0px rgba(0,0,0,0.14), 0 0px 0px rgba(0,0,0,0.12);
}

.q-btn__wrapper:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: 0 0px 0px rgba(0,0,0,0.2), 0 0px 0px rgba(0,0,0,0.14), 0 0px 0px rgba(0,0,0,0.12); 
    border-radius: 50%;
}

.fijo
    padding: 1%;
    margin-bottom: 1px;

.q-btn--fab .q-btn__wrapper {
    padding: 0 8px;
    min-height: 50px;
    min-width: 50px;
}
.q-field--outlined  .q-field__control {
    border-radius: 4px;
    padding: 0 3px;
}