@import '../../css/quasar.variables.styl'

.logo_toolbar
	font-size: 28px
	background: -webkit-gradient(linear, left top, left bottom, from(#1c074e), to(#570758))
	-webkit-background-clip: text
	vertical-align: middle !important
	margin: 0px !important

.q-item__section--side > .q-icon
  font-size: 18px !important

.icono_menu
	margin-left: -8px

.espacio-derecho-menu
	padding-right: 1%;

.buscador
	width: 250px;

.color-container
	background-color: $secondary;

.color-container-mobile
	background-color: $primary;

.doter {
	padding: 6%;
	height: 70px;
	width: 70px;
	background-color: $accent;
	border-radius: 50%;
	display: inline-block;
}
.q-field__label
	color: $text !important;
.q-drawer__content
	background: #000000bf !important;
	background: rgba(10,10,10,0.78);
	-webkit-backdrop-filter: blur(8.5px);
	backdrop-filter: blur(8.5px);


.nombre-menu
	background: #343640 !important;
	color: #fff;
	padding: 0px 0px 0px 15px;
	border-radius: 20px;



.q-item.q-router-link--active, .q-item--active
	color: $text;
	background: $primary !important;

.n_usuario
	font-family: comfortaa_l
	font-size: 15px;

.menu_list
	padding-top: 50px;
	color: $text;
	font-family: comfortaa_l;

.menu_item
	padding: 5px;

.q-item.q-router-link--active, .q-item--active {
	color: $accent;
	background: #20222a !important;
}
.titulo_bar
	color: $text;
	font-size: 1.2vw;
	font-family: comfortaa_l;

.change_color {
	background: rgba( 0, 0, 0, 0.65 );
	backdrop-filter: blur( 8.5px );
	-webkit-backdrop-filter: blur( 8.5px );
}
.q-drawer {
	background: #fff0;
}
