@import '../../css/quasar.variables.styl'

.q-layout__section--marginal {
    background-color: #00000000 !important
}
.q-item.q-router-link--active, .q-item--active {
    color: #ffffff;
    background: #f84814 !important;
    border-radius: 25px;
}