@import '../../css/quasar.variables.styl'

.q-layout__section--marginal {
    background-color: #00000000 !important
}
.q-item.q-router-link--active, .q-item--active {
    color: #ff6b00;
    background: #ffffff00 !important;
    border-radius: 25px;
    
}
.q-item
    min-height: 0;
    font-family 'monserrat_bold'

.change_color {
    background-color:#00000094;
}
.font_bar
    font-size: 16px;
    font-family 'monserrat_medium'