@import '../../css/quasar.variables.styl';

.comment_user
    color:$accent; 
    // padding-left: 5px;

.comment_user-active
    color:$primary !important; 
    // padding-left: 5px !important; 

    
.background-comments
    background-color: $secondary;
    padding: 1% 1% 1% 1%;
    border-radius: 20px;
    

.text_comment
    color: $text;
    padding: 1% 1% 1% 0%;
    font-size: 15px;


.espacio-action-comment-active{
    padding: 1% 1% 1% 1% !important;
    color: $text !important;
    background-color: $accent !important;
    border-radius: 25px !important;
    width: 100% !important;
}
.text-comm
    color: $secondary !important;
    border-radius: 1.3em !important;