@import '../../../css/quasar.variables.styl';

.fondo_inicio{
    background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
}
.text-historia{
    font-size: 1.2em;
    background-color: #0000006b;
    border-radius: 25px;
    padding: 8%;
}
.titulo-historia{
    font-size: 3em;
    font-family 'comfortaa_b'
}
.div_fondo_op {
	background-color: #20222a !important;
    height: 100vh !important;
}
.card-empleos
	background: #161616d9;
	-webkit-backdrop-filter: blur(8.5px);
	backdrop-filter: blur(2.5px);
	margin-left: 5%;
	border-radius: 25px;

.filtros_op
	background: #161616bd
	backdrop-filter: blur(8.5px);
	border-radius: 21px;
	margin-top: 10px;
	padding: 25px;
	height: 90vh;
	margin-left: 10px;

.buscador
	padding-top:30px

.color_borde
	padding : 10px;
	backdrop-filter: blur(8.5px);

.q-table__bottom
	color: white !important;
	font-size: 1vw !important;
.field__native span
	font-size: 1vw !important;
	color: white !important;

.contorno-img .q-img__image {
	background-size: contain !important;
}
