@import '../../../css/quasar.variables.styl';

.fondo_inicio{
    background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
}
.text-historia{
    font-size: 1.2em;
    background-color: #0000006b;
    border-radius: 25px;
    padding: 8%;
}
.titulo-historia{
    font-size: 3em;
    font-family 'comfortaa_b'
}
.div_fondo_op {
	background-color: #121212  !important;
    height: 100vh !important;
}
.card-empleos
	background: #393c4e96;
	margin-left: 5%;
	border-radius: 25px;

.filtros_op
	background: #393c4e96
	border-radius: 21px;
	margin-top: 10px;
	padding: 25px;
	height: 85vh;
	margin-left: 20px;
	color: white !important;

.buscador
	padding-top:30px

.color_borde
	padding : 10px;
	backdrop-filter: blur(8.5px);

.q-table__bottom
	color: white !important;
	font-size: 1vw !important;
.field__native span
	font-size: 1vw !important;
	color: white !important;

.contorno-img .q-img__image {
	background-size: contain !important;
}

.icon-buscar
	padding-top: 1vw;

.card-dialog-empleos
	background: #0a0a0ac7
	backdrop-filter: blur(8.5px);
	border-radius: 21px;
	max-width : 70vw !important;

.img-modal
	border-radius : 25px;
.img-modal .q-img__image {
	background-size: contain !important;
}

.desc_empleo
	color: #9babc1  !important
	font-size: 1vw;

.chip-web
	color: #8ab4f8;

.chip-web .q-chip__icon
    color: #8ab4f8  !important
