@import '../../../css/quasar.variables.styl';

.img-unique {
    max-width: 600px;
    border-radius: 25px;
}

.todo {
    width: 100%;
}
.back_home
    background: $secondary;

.tabla
    background: $primary !important;
    color: $accent !important;
    border-radius: 15px;

.tabla_mobile
    background: $primary !important;
    color: $accent !important;
    border-radius: 15px;

.buscar_mobile .q-field__control, .q-field--dense .q-field__marginal {
    max-height: 30px !important;
    padding-bottom:  3px !important;
	color: $text;
}

.buscar_mobile .q-field--standout .q-field__control {
    padding: 0px 3px;
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
	color: $text;
    transition: box-shadow 0.36s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.36s cubic-bezier(0.4, 0, 0.2, 1);
}
.buscar_mobile .q-field__inner .q-field__control .q-field__control-container .q-placeholder{
	color: #fff;

	}
.card_tabla_mobile
    background: $primary !important;
    box-shadow: 0 0px 0px rgb(0 0 0 / 20%), 0 0px 0px rgb(0 0 0 / 14%), 0 0px 0px 0px rgb(0 0 0 / 12%);

.card_tabla_mobile_selected
    background: $secondary !important;
    box-shadow: 0 0px 0px rgb(0 0 0 / 20%), 0 0px 0px rgb(0 0 0 / 14%), 0 0px 0px 0px rgb(0 0 0 / 12%);

.card_tabla_mobile .q-list .q-item .q-item__section .q-item__label--caption
    color: $text !important;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

.card_tabla_mobile_selected .q-list .q-item .q-item__section .q-item__label--caption
    color: $text !important;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

th
   color: $accent;
   font-size: 16px !important;
   font-family: comfortaa_b;

td
   color: $text;
   font-size: 14px !important;
   font-family: comfortaa_l

.b_activo
    color: $text;
    font-size: 14px !important;
    font-family: comfortaa_l

.b_eliminar
    color: $text;
    font-size: 16px !important;
    font-family: comfortaa_l

.b_link
    color: $accent;
    font-size: 14px !important;
    font-family: comfortaa_l
.titulo_crear
    color: $accent !important;
    font-family: comfortaa_b;

.m-accion
    color: $text !important;

.q-table__title
    font-size: 23px;
    letter-spacing: 0.005em;
    font-weight: 400;
    padding-left: 10px;
    font-family: comfortaa_b;


.modales
    background: $secondary !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px !important;

.cancelar
    margin-right: 20px;
    color: $text;
    background: $primary !important;

.n_eliminar
    color: $accent;
    font-size: 16px !important;
    font-family: comfortaa_b;

.grid-style-transition
  transition: transform .28s, background-color .28s

.activo
    background:#00933b !important;

.inactivo
    background:#cd0000 !important;
// .estado_item
//     padding : 2px 10px 2px 16px;
