.filtro-inicio{
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgb(254 61 0 / 17%));
}
.text-upper{
    text-transform: uppercase;
    font-weight: 300;
}
.ala_izq{
    left: 20% !important;
}
.ala_der{
    left: 80% !important;
    top: 50% !important;
}
.logo-inicio .n-logo{
    max-width: 160px;
    margin-bottom: 10px;
}
.contenedor-historia{
    max-width: 500px !important;
}
.historia-header-image {
    position: absolute;
    background-size: cover;
    background-position: right;
    width: 110%;
    height: 100%;
    z-index: -1;
}
.avatar-nosotros{
    max-width: 150px;
}
.bg-black{
    background: #000
}