@import '../../css/quasar.variables.styl';

.input-post
    color: $text;
    
.alinear
    margin-top: 8%;    


.tama_view
    @media screen and (max-width: 1920px) {
        width: 1100px !important;
    }
    @media screen and (max-width: 1440px) {
        width: 900px !important;
    }
    @media screen and (max-width: 1366px) {
        width: 800px !important;
    }