@import url("https://fonts.googleapis.com/css?family=Concert+One");
.logo {
  /* margin:10px 20px; */
  font-family: 'concert One';
  color: gray;
}
.danger{
  color: red;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: gray;
}

.input-reg
	padding-bottom: 30px !important;

.ultimo-input
	padding-bottom: 20px !important;

.namelast
	padding-left: 20px !important; padding-bottom: 30px !important;

.input-register
	padding-right: 20px !important;
	padding-bottom: 30px !important;

.input-register-2
	padding-right: 20px !important;
	padding-bottom: 20px !important;
