@import '../../css/quasar.variables.styl';

.last_message
    font-size: 13px;
    color: $text;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%;
    font-size: 16px;
    
.separation-conv
    border-bottom: 1px solid $primary;


.contenedor-conv 
    // background-color: $secondary !important;
    padding: 0 0 0 2% !important;
    border-radius: 25px;
    // border-radius: 20px;
    // border-right: 1px solid $secondary;
.m_list
    padding: 2% 2% 2% 0%;
    // background-color: $primary;
    // border-radius: 25px;
    margin: 0 1%;
    width: 100%;
    // border-bottom: 1px solid $primary;

.color-message
    color: $text;    

.title_
    background-color: $primary;
    // border-top: 1px solid $secondary;
    // border-bottom: 1px solid $secondary;
    color: #fff;
    font-size: 20px;
    /* border-radius: 15px; */
    padding: 3%;
    min-height: 60px;

.participants
    // border-top: 1px solid $secondary;
    // border-bottom: 1px solid $secondary;
    color: #fff;
    font-size: 20px;
    /* border-radius: 15px; */
    padding: 1%;
    min-height: 60px;
.parent_conv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.parent_conv .q-scrollarea .scroll
    border-radius: 25px;

.conv-list
    height: 85%;
    border-radius: 25px;

/* not necessary, just to visualize it */
.parent_conv {
    height: 85%;
    background-color: $secondary !important;
}

.box-conv
    padding-left: 4%;