
@import '../../../css/quasar.variables.styl';
.tabla_historial
    background: $secondary !important;
    color: $accent !important;

.tabla_historial .q-table__top
    padding: 8px 10px;

.tabla_historial .q-table__top .q-table__control .q-table__title
    font-size: 18px;

.tabla_historial .q-table__middle .q-table thead tr th   
    font-size: 12px !important;
    padding: 0px 0px !important;

.tabla_historial .q-table__middle .q-table tbody tr td  
    font-size: 11px !important;

.tabla_mobile
    background: $primary !important;
    color: $accent !important;
    border-radius: 15px;

// .tabla_mobile .q-table__top .q-table__control .q-table__title
//     font-size: 14px;

// .tabla_mobile .q-table__top .q-table__control label .q-field__inner .q-field__control .q-field__control-container input
//     font-size: 12px;

// .tabla_mobile .q-table__top .q-table__control .q-table__middle q-table th, .q-table td 
//     padding: 0px;
//     font-size: 14px;

// .tabla_mobile .q-table__top .q-table__control .q-table__middle .q-table thead tr, .q-table tbody td 
//     padding-left: 2%;
//     max-height: 30px !important;
//     height: 30px !important;
//     max-width: 100px;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;

// .tabla_mobile .q-table__middle .q-table th {
//   padding: 0px 0px !important;
//   background-color: inherit;
//   font-size: 14px !important;
// //   width: 80% !important;
// }
// .tabla_mobile .q-table__middle .q-table td {
//   padding: 0px 10px !important;
//   background-color: inherit;
//   font-size: 12px !important;
// //   width: 80% !important;
// }  
// .buscar_mobile .q-field__control, .q-field--dense .q-field__marginal {
//     max-height: 30px !important;
// }


