@import '../../../css/quasar.variables.styl';

.fondo_inicio{
    background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
}
.text-portada
    background: #000000ad;
    padding: 3%;
    width: 40vw;
    border-radius: 25px;
    color: #ff5e00 !important;
    font-size: 1.6em;

.contenedor {
    position: relative;
}
.div_fondo_portada 
    height: 111vh !important;
    background-size: cover;
.contenedor img{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.contenedor .btn-portada
    position: absolute;
    left: 50%;
    top:68%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-family 'monserrat_medium'