@import '../../css/quasar.variables.styl';

.respcomment_user
    color:$accent; 
    // padding-left: 5px;

.respcomment_user-active
    color:$primary !important; 
    // padding-left: 5px !important; 

    
.background-respcomments
    background-color: $secondary;
    padding: 1% 1% 1% 1%;
    border-radius: 20px;


.text_respcomment
    color: $text;
    padding-right: 2%;
    font-size: 1.1vw;


.espacio-action-respcomment-active{
    background-color: $accent !important;
    width: 100% !important;
    color: $text !important;
    padding: 1% 1% 1% 1%;
}
.espacio-respcomment_ul {
    margin: 1% 0% 0% 8%;
    padding: 0%;
}

.resp .q-message .q-message-container .q-message-avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.resp .q-message .q-message-container .q-message-text .q-message-text-content--received {
    line-height: 1.2;
    word-break: break-word;
    position: relative;
    font-size: 14px;
}

.text-rescom
    padding: 10px 15px 10px 15px !important;
    min-height: 35px !important;
    background-color: $secondary !important;