@import '../../css/quasar.variables.styl';

.input-post
    color: $text;

@keyframes newCommentAnim{
    0% {background-color: #1BC700;} /*Amarillo*/
   25% {background-color: #26EC07;} /*Naranja*/
   50% {background-color: #38F919;} /*Negro*/
   75% {background-color: #7DFF69;} /*Otra vez naranja*/
  100% {background-color: #FFFFFF;} /*Otra vez amarillo*/
}

// .espacio_post {
//     padding: 5px 10px 10px 0px;
// }

// .espacio-comment {
//     padding: 3px 0px 0px 0px;
//     font-size: 1rem;
//     border-radius: 25px;
//     // padding: 2% 2% 0% 2%;
//     background-color: $primary
//     border-radius: 20px 20px 0px 20px

// }

// .espacio-comment_first {
//     padding: 3px 0px 0px 0px;
//     font-size: 1rem;
//     border-radius: 25px;
//     padding: 2%;
//     background-color: $primary;
//     color: $text;
//     border-radius: 20px 20px 20px 20px

// }
// .espacio-respcomment {
//     margin: 1% 0% 0% 11%;
//     // padding: 0% 2% 1% 2%;
//     background-color: $primary
//     border-radius: 0 0 0 0;
    
// }
// .comment_user
//     color:$accent; 
//     padding-left: 5px;

// .comment_user-active
//     color:$primary !important; 
//     padding-left: 5px !important; 

// .espacio-action-comment{
//     padding: 0% 1% 0% 0%;
//     background-color: $primary;
//     border-radius: 25px;
//     width: 100%;
//     color: $text;
// }
// .espacio-action-comment-active{
//     padding: 1% 1% 1% 2% !important;
//     color: $text !important;
//     background-color: $accent !important;
//     border-radius: 25px !important;
//     width: 100% !important;
// }
// .espacio-action-respcomment{
//     background-color: $primary;
//     width: 100%;
//     padding-right: 1%;
//     color: $text;
// }
// .espacio-action-respcomment-active{
//     background-color: $accent !important;
//     width: 100% !important;
//     color: $text !important;
//     padding-right: 1%;
// }
// .espacio-respcomment_ul {
//     margin: 1% 0% 0% 8%;
//     padding: 0%;
//     color: $text !important;
//     background-color: $primary;
//     border-radius: 0 0 20px 20px;
    
// }