@import '../../css/quasar.variables.styl';

.espacio-comment_first 
    padding: 3px 0px 0px 0px;
    font-size: 1rem;
    border-radius: 25px;
    padding: 1% 2% 2% 1%;
    background-color: #20222a;
    color: #fff;
    border-radius: 20px 20px 20px 20px;
    

.comment-home
    padding: 1% 0% 1% 0% !important;
    background-color: $primary;
    border-radius: 25px !important;

.espacios_profile
    padding-bottom: 10px;
